<div class="my-20 flex items-center justify-center text-neutral-300">
  Designed with ♥ by <a
    href="https://x.com/HeimCode"
    target="_blank"
    rel="noopener noreferrer"
    class="ml-1 rounded-full bg-slate-800 px-2 py-1 cursor-pointer"
    >@AdrianGerman</a
  >
</div>
