<div
  class="my-20 flex flex-col gap-3 items-center justify-center text-neutral-300 zoom-in"
>
  <p>
    Based on
    <a
      class="inline-block cursor-pointer transition-transform duration-300 hover:scale-110 underline"
      href="https://twitter.com/Ibelick"
      target="_blank">@Ibelick</a
    >
  </p>
  <p>
    Designed with ♥ by
    <a
      href="https://x.com/HeimCode"
      target="_blank"
      rel="noopener noreferrer"
      class="ml-1 rounded-full inline-block bg-slate-800 px-2 py-1 cursor-pointer transition-transform duration-300 hover:scale-110"
      >@AdrianGerman</a
    >
  </p>
</div>
