---
import Github from "./icons/Github.astro"
---

<div class="flex justify-between py-15">
  <a href="/" class="transition-transform duration-300 hover:scale-110"
    ><p>tailwind4 animations</p></a
  >
  <a
    target="_blank"
    href="https://github.com/AdrianGerman/tailwind4-animations"
    class="transition-transform duration-300 hover:scale-110"
    ><Github class="w-10 h-10" /></a
  >
</div>
