---

---

<div
  id="container"
  class="h-screen flex items-center justify-center text-4xl font-bold"
>
  <h1>Hola, desde el welcome component</h1>
</div>

<style>
  #container {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
  }
</style>
