---
import TailwindCSS from "./icons/Tailwindcss.astro"
import Animation from "./icons/Animation.astro"
---

<main class="flex flex-col items-center mt-20">
  <h1 class="text-6xl font-bold mb-2">TailwindCSS animations!</h1>
  <p class="text-3xl">for your websites</p>
  <div class="p-4 flex items-center gap-4">
    <Animation class="w-14 h-14" />
    <TailwindCSS class="w-14 h-14" />
  </div>

  <style>
    #container {
      font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
        Arial, sans-serif;
    }
  </style>
</main>
